<div class="sm:top-36 mb-20 top-24 relative z-10" id="about">
    <div class="text-center text-3xl sm:text-7xl mb-10 font-extrabold">MY ABOUT</div>
<div class="  sm:flex justify-center items-center" >
    <div class="max-w-sm mb-4 p-6 mx-3 sm:mx-3 sm:w-96 bg-transparent border-2 border-white rounded-lg shadow shadow-white">
        <h5 class=" text-2xl font-bold tracking-tight text-white text-center mb-5">My About</h5>
            <p class="font-normal text-white text-center"><i class="fa-solid fa-user"></i> My name is ufuk surname kuru. I'm 22 years old. I'am developing myself as a front end developer and in English.</p>
         <br>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Get CV
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>

    <div class="sm:max-w-full mb-4 p-6 mx-3 sm:mx-3 sm:w-96 bg-transparent border-2  border-white rounded-lg shadow shadow-white">
        <h5 class=" text-2xl font-bold tracking-tight text-white text-center mb-5">My Experiences</h5>
             <a href="#"><p class="mb-3 font-normal text-white text-center"><i class="fa-solid fa-briefcase"></i> Turhal Blue Informatics</p></a>
         <br>
            <a href="https://www.istanbulavm.com.tr/"><p class="mb-3 font-normal text-white text-center"><i class="fa-solid fa-briefcase"></i> Istanbul Home Shopping Mall</p></a>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Get CV
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>

    <div class="max-w-sm mb-4 p-6 mx-3 sm:mx-3 sm:w-96 bg-transparent border-2 border-white rounded-lg shadow shadow-white">
         <h5 class=" text-2xl font-bold tracking-tight text-white text-center mb-5">My Trainings</h5>
             <a href="https://www.gop.edu.tr/"><p class="mb-3 font-normal text-white text-center"><i class="fa-solid fa-graduation-cap"></i> Tokat Gaziosmanpaşa Universty</p></a>
            <br>
            <a href="https://zdmtal.meb.k12.tr/icerikler/zile-ticaret-meslek-lisesi_173305.html"><p class="mb-3 font-normal text-white text-center"><i class="fa-solid fa-graduation-cap"></i> Zile Dinçerler Anadolu Meslek High School</p></a>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Get CV
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>
</div>
<div class="sm:flex backgrounds mx-auto hidden justify-center relative items-center " style="width: 450px; height: 400px;"></div>